/* Her har vi styles til vores computer version */
/* ------------------------------------------------------------- */

$computer: "screen and (min-width: 1000px)";
@media #{$computer} {
  .header-img {
    background-image: url("../img/bg_med_udskaaret_bil.png");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    height: 750px !important;
  }

  .border-top-nav {
    border-top:0;
  }
}