/* Her har vi styles til vores computer version */
/* ------------------------------------------------------------- */

$computer: "screen and (min-width: 1000px)";
$xlcomputer: "screen and (min-width: 1921px)";
@media #{$computer} {

  h1 {
    font-size:60px;
  }


  .border-top-nav {
    border-top:0;
  }

  .header-img {
    height: 750px !important;
  }

  .width-pc {
    width: 650px !important;
    margin-left: auto;
    margin-right: auto;
  }

}


@media #{$xlcomputer} {

  .xlPC {
    max-width: 1920px;
    margin: auto;
  }


}