* { /* Gælder alt på hele siden */
	box-sizing: border-box; /* Bokse har altid den størrelse man giver uanset om der tilføjes margen, padding mv. */
	font-family: 'Roboto', sans-serif;
	scroll-behavior: smooth;
}
/* Ovenstående kode kan give problemer ved nogle 3. parts scripts man henter. Men det gør det nemmere at forstå og lave kodning når man starter. */

body {
	margin: 0; /* Ingen kanter i siden af browser */
	font-size: 14px;
	color: #666666;
}

.condensed {
	font-family: 'Roboto Condensed', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0; /* Ingen ydre margen fra overskrifter */
	padding: 0; /* Ingen indre margen fra overskrifter */
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}

h1 {
	color:#D85349;

}

ul, ol {
	margin: 2px 10px 2px 10px; /* Mindre margen på punkter */
	padding: 0; /* Ingen indre margen fra lister */
	list-style-position: inside; /* List punkter står på linje */
}

li {
	margin: 0; /* Ingen ydre margen fra listpunkter */
}

p {
	margin: 0; /* Ingen ydre margen fra paragraffer */
	padding: 0; /* Ingen indre margen fra paragraffer */
	line-height: 23px;
}

.caps {
	text-transform: uppercase;
}

/* Sikrer billeder er responsive */
img {
	display: block; /* Billeder er et element (laver linjeskift) */
	max-width: 100%; /* Bredde må maks fylde 100% */
	height: auto; /* Højden skal tilpasse sig */
}

/* En class for transitions */
.transition {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.on-white-bg-border {
	margin-top: 5px;
	width: 150px;
	border-top: 10px solid rgba(102,102,102,0.20);
	border-right: 10px solid white;
}

.on-light-bg-border {
	margin-top: 5px;
	width: 150px;
	border-top: 10px solid rgba(102,102,102,0.20);
	border-right: 10px solid #f6f6f6;
}

.on-dark-bg-border {
	margin-top: 5px;
	width: 150px;
	border-top: 10px solid rgba(255, 255, 255, 0.25);
	border-right: 10px solid white;
}

hr {
	border: #f3f3f3 solid 3px;
	width: 100%;
}

 /* AMALIE */

/* NAV */
.top {
	margin: 10px 0;
	font-size: 16px;

}

.link-for-medlemmer {
	color: rgba(102,102,102,0.50) !important;

	&:hover {
		color: #666666 !important;
		text-decoration: none !important;
	}
}


.logo-size {
	height:40px !important;
}

.v-line {
	padding: 2px;
	background: rgba(102,102,102,0.50);
	width: 2px;
	margin: 0 15px;
}

.border-top-nav {
	border-top:2px solid #f6f6f6;
}

.nav-item input {
	border:1px solid rgba(129, 129, 129, 0.1);
	width: 100px !important;
}

.nav-btn-soeg {
	font-family: 'Roboto', sans-serif !important;
	text-transform: uppercase;
	font-weight: bold;
	color: rgba(0,0,0,.5) !important;
	font-size:14px;
	border:0;

	&:hover {
		color: #D85349 !important;
		background-color:white;
	}
}

.nav-btn {
	font-family: 'Roboto', sans-serif !important;
	text-transform: uppercase;
	color: white !important;
	font-size:14px;

}


	/* HEADER */

header {
	height: auto;
}

.z-index-100 {
	z-index: 100;
}

.PC-only {
	display: none;
}

/* UNDERSIDER */

.breadcrumb-nav {
	font-size:14px;

	span {
		letter-spacing: 1px;
	}
}

.breadcrumb-inactive {
	opacity: 0.5;
	color: white;
}

.link-white:hover {
	color: white;
	opacity: 1;
}


.skraa {
	margin: 100px 0;
	clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
	background-color: rgba(255,255,255,0.7);
}

.skraa_right_top {
	clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 0% 100%);
	padding-right: 20px;

}

.skraa h1 {
	font-size:35px;
}

.skraa_right_bund {
	clip-path: polygon(0% 0%, 95% 0%, 100% 100%, 0% 100%);
	padding-right: 20px;

}

/* NYHEDER */

.nyhedsside_bg {
	background-image: url("../img/nyhedsside/nyhedsside_bg.jpg");
	background-size: cover;
	background-position: bottom;
}


.side-nav-active {
	padding: 5px 10px;
	font-weight: 500;
}

.side-nav {
	font-weight: 500;

	&:hover {
		opacity: 0.6 !important;
		cursor: pointer;
	}
}

/* BRUGTBILGARANTI */

.betingelser-width {
	width: 90%;
}

.w_garanti_number {
	width: 15% !important;
}

.w_garanti_text {
	width: 85% !important;
}

.garantibetingelser_bg {
	background-image: url("../img/brugtbilgaranti/garantibetingelser.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.brugtbilgaranti_bg {
	background-image: url("../img/brugtbilgaranti/brugtbilgaranti-header.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

/* KILOMETERGARANTI */

.kilometergaranti_bg {
	background-image: url("../img/kilometergaranti/kilometergaranti_header.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

/* REKLAMATIONSRET */

.reklamationsret_bg {
	background-image: url("../img/reklamationsret/reklamationsret_header.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}



/* NANNA */

.fas1 {
font-size: 30px;
}


.nyheder {
  background-image: url("../img/nyheder_bg.jpg");
	background-size: cover;
}


.nyhed_image {
	z-index: -1;
}

.nyhed_txt {
	 margin-top: -30px;
	z-index: 9;
	width: 80%;
	background-color: rgba(255, 255, 255, .9);
}

h6 {
  opacity: 1;
}

.hvemerdbfu_img{
width: 100%;
}

.bg-grey {
	background-color: rgba(232, 232,232, .8);
}

.forhandlere-padding, .forhandlere-img {
	padding: 0 30px;
}

.resultat {
	display: none;
}

/* Sean */

.footer_bg{
	background-color: black;
}

/* REKLAMATIONSRET */



.search-form {
	width: 80%;
	margin: 0 auto;
}
input[type="search"] {
	box-sizing: border-box;
	background: #ffffff;
	color: #1c1c1c;
	border: 3px solid #2C4275 ;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0.35em 0.75em;
	font-size: 1.1em;
	text-transform: uppercase;
	line-height: normal;
	max-height: 3em;
}
button[type="submit"] {
	box-sizing: border-box;
	border-radius: 0px 2px 2px 0px;
	background: #2C4275;
	font-weight: 300;
	text-transform: uppercase;
	color: white;
	padding: 0.35em 0.75em;
	border: none;
	font-size: 1.1em;
	text-decoration: none;
	cursor: pointer;
}
button[type="submit"]:hover {
	background-color: #D85349;
}
/*flex it*/
.search-form {
	display: flex;
	flex-wrap: wrap;
}
input[type="search"] {
	flex: 2 0 250px;
}
button[type="submit"] {
	flex: 1 0 90px;
}





.icon_top {
  margin-right: -20px;
  position: relative;
  z-index: 10;
}

.white_box {
  z-index: 1;
  padding: 25px;
}






.top-image {
	margin-top: -100px;
	margin-bottom: -100px;
	position: relative;
	z-index: 10;
}

.klar-til-hjælp {
	z-index: 1;
	padding: 25px;
	background-color: lightgrey;
}