/* Her har vi styles til vores tablet version */
/* ------------------------------------------------------------- */

$tablet: "screen and (min-width: 768px)";
@media #{$tablet} {
  .top {
    margin: 20px 0;
    font-size: 16px;

  }

  .skraa_bg {
    margin: 150px 0;

  }

  .skraa h1 {
    font-size:45px;
  }

  .nyhedsside_bg {
    background-position:center;
  }

  .betingelser-width {
    width: 700px;
  }

  .w_garanti_number {
    width: 15% !important;
  }

  .w_garanti_text {
    width: 85% !important;
  }

  .forhandlere-padding {
    padding-left: 0;
  }

  .forhandlere-img {
    padding-left:30px;
  }


  .forside-height {
    height: 500px;
  }

  .bil {
    background-image: url("../img/kun-bil.png");
    background-size: contain;
    height: 100%;
    width: 900px;
    background-position: 40px bottom;
    margin-left: -200px;

    background-repeat: no-repeat;
    animation-name: bil;
    animation-duration: 4s;
  }

  @keyframes bil {
    0%   {
      opacity:0;
      background-position: 0 bottom;
    }
    50%  {

      opacity:1;
      background-position: 40px bottom;
    }
  }

  .forside-bg {
    background-image: url("../img/forside_bg_tablet.jpg");
    background-size:  cover;
    background-repeat: no-repeat;
    background-position: left;
    z-index: 5;
  }
}