/* Her har vi styles til vores tablet version */
/* ------------------------------------------------------------- */

$tablet: "screen and (min-width: 768px)";
@media #{$tablet} {
  .top {
    margin: 20px 0;
    font-size: 16px;

  }

  .header-img {
    background-image: url("../img/bg_udskaaret_bil_ny.png");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px !important;
  }

  .skraa_bg {
    margin: 150px 0;

  }

  .nyhedsside_bg {
    background-position:center;
  }
}