/* Her har vi styles til vores tablet version */
/* ------------------------------------------------------------- */

$tablet: "screen and (min-width: 768px)";
@media #{$tablet} {
  .top {
    margin: 20px 0;
    font-size: 16px;

  }

  .skraa_bg {
    margin: 150px 0;

  }

  .skraa h1 {
    font-size:45px;
  }

  .nyhedsside_bg {
    background-position:center;
  }

  .betingelser-width {
    width: 700px;
  }

  .w_garanti_number {
    width: 15% !important;
  }

  .w_garanti_text {
    width: 85% !important;
  }

  .forhandlere-padding {
    padding-left: 0;
  }

  .forhandlere-img {
    padding-left:30px;
  }
}