/* ------------------------------------------------------------- */
/* BOOTSTRAP START */

/* Her retter vi standard farverne i Bootstrap */
$theme-colors: (
				"primary": #D85349,
				"secondary": #2C4275,
				"danger": #ff4136,
				"success": #050,
				"info": #894,
				"warning": #822,
				"light": #f6f6f6,
				"dark": #1A1A1A
);

.btn {
	font-family: 'Roboto Condensed', sans-serif !important;
	font-weight: bold;
	border-radius: 0 !important;
}

/* Her retter vi margin og padding (p-1, p-2, pb-1.... og m-1, m-2, mt-1 osv) */
$spacer: 15px;
/* 15px svarer til 1rem, som er bootstraps standard */

/* Her importerer vi Bootstrap i vores egen css - Dvs bootstrap css filen skal ikke længere være i vores HTML dokument */
@import "../node_modules/bootstrap/scss/bootstrap";

/* Sørger for at man kan bruge gradients i bootstrap. Normalt er den slået fra. */
$enable-gradients: true;
/* Her retter vi noget fra bootstrap som ikke kan ændres via variabler */
ul ol {
	margin-bottom: 20px;
}

.nav-item {
	font-weight: 500;
}

.dropdown-menu {
	min-width: 10rem;
	padding: 0;
	margin: 14px 0 0 0 !important;
	color: #212529;
	border: 1px solid #f6f6f6 !important;
	border-radius: 0;
	font-family: 'Roboto', sans-serif;

}

.dropdown-item {
	font-size: 14px;
}

.active {
	color: #D85349 !important;
}

.h1 {
	font-family: 'Roboto Condensed', sans-serif !important;
	font-weight: bold;
}

.form-control, button {
	border-radius: 0 !important;
}

/* BOOTSTRAP SLUT */
/* ------------------------------------------------------------- */
/* EGEN CSS START */

/* Her henter vi vores eget stylesheet (det der før hed styles.css) - nu har vi kaldt det _myStyles.scss */
@import "myStyles";

/* EGEN CSS SLUT */
/* ------------------------------------------------------------- */
/* EGEN RESPONSIVE CSS START */

/* Her henter vi vores tablet version _tablet.scss */
@import "tablet";

/* Her henter vi vores computer version _tablet.scss */
@import "computer";

/* EGEN RESPONSIVE CSS SLUT */
/* ------------------------------------------------------------- */